manifest {
    mainScript = 'ariba.nf'
}
  
process {
    container='bioinformant/ariba_and_bedtools'
    maxErrors = 10 
    maxRetries = 3 
    errorStrategy = 'retry'
}

workflow.onComplete = { 
    if( workflow.success ) { ['sudo','rm','-rf', workDir].execute().waitFor() }
    println( workflow.success ? "Done!" : "Oops .. something went wrong" )
}
